@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<div class="container" style="text-align:center">
    <h3>Artscene aims to connect artists directly to prospective customers. </h3>
    <h3>Through our platform, we hope to encourage people to buy art that is not mass produced.</h3>
    <h3>Giving artists a fair commission and customers a one of a kind piece is Artscene.</h3>
</div>