@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>For further inquires:</h3>

<address>
    1 Virginia Street<br />
    Indianapolis, IN 46204<br />
    <abbr title="Phone">P:</abbr>
    765.242.7235
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Artscene.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Artscene.com</a>
</address>