@{
    ViewBag.Title = "Home Page";
}
<div class="container">
        <div class="jumbotron" style="background-color:paleturquoise; text-align:center; font-style:italic;">
            <h1>Artscene</h1>
            <p class="lead" style="text-align:center; font-style:normal">Artscene is an online marketplace for artists to display and sell their work.</p>
        </div>

    <div class="row" style="background-color:">
        <div class="col-md-4" style="text-align:center; border-right: 3px solid;">
            <h2>Who We Are</h2>
            <p>
                Want to know more about what makes Artscene..Artscene? Click below to find out!
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="color:aqua; background-color:black">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <h2>See the Artists</h2>
            <p>From up and coming to well-established and prominent within their tecknique, Artscene is an inclusive marketplace for all creators</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" style="color:aqua; background-color:black"> See Artists &raquo;</a></p>
        </div>
        <div class="col-md-4" style="text-align:center; border-left: 3px solid;">
            <h2>Find Your Style</h2>
            <p>Learn more about the main styles our artists put on the marketplace.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" style="color:aqua; background-color:black"> Details &raquo;</a></p>
        </div>
    </div>
</div>